.pop {
    position: relative;
    transition: transform 0.15s;

    &:hover {
        transform: scale(1.03);
        transition: transform 0.15s;
    }
}

.link {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.overlay {
    position: absolute;
    top: 313px;
    background: rgba(0,0,0,0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.pop:hover .overlay{
    opacity: 1;
}