html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin-top: 110px;
}

.no-header {
    margin-top: 0;
}

$color: steelblue;

.my-flix {
    color: $color;
}
